@import 'colors.css';

* {
    -fx-text-fill: -text;
}

.button {
    -fx-background-color: -menu;
    -fx-border-color: -border;
    -fx-border-radius: 2;
}

.button:hover {
    -fx-background-color: -content;
}

.button:pressed {
    -fx-background-color: -field;
}

.label {
    -fx-text-fill: -text;
    -fx-font-size: 14;
}

.text-field {
    -fx-background-color: -field;
    -fx-border-color: -border;
    -fx-border-radius: 4;
    -fx-background-radius: 4;

    -fx-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    -fx-text-fill: -text;
    -fx-alignment: center;
}