@import 'colors.css';

.label {
    -fx-font-size: 12;
}

.titled-pane > .title {
    -fx-background-color: -menu;
    -fx-border-color: -border;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: -text;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-effect: dropshadow(two-pass-box, -accent, 5, 0.2, 0, 0);
}

.titled-pane > .content {
    -fx-background-color: -border;
    -fx-border-color: -border;
}

.accordion-content {
    -fx-background-color: -content;
}

.scroll-pane {
    -fx-background: -content;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-color: -content;
}

.scroll-bar {
    -fx-background-color: -content;
}

.scroll-bar .thumb {
    -fx-background-color: -field;
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: -text;
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -text;
}